.player-container {
  min-height: 30vh;
  background: #555555;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.data {
  font-size: 30px;
  padding: 30px;
  font-weight: bold;
}

.actions {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.action-btn {
  width: 10em;
  height: 3em;
  margin: 10px;
  background-color: #019901;
  color: #ffffff;
  border: 1px solid #b3b3b3;
}

.card-container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  width: 30%;
}

.cards {
  display: flex;
  flex-direction: row;
}

.card {
  background: none;
  border: none;
  margin: 5px;
}
