<div class="player-container" *ngIf="player">
    <div class="data"><h2>Your data</h2>
        <p class="nickname">login: {{player.nickname}}</p>
        <p class="cash">cash: {{player.cash}}</p>
    </div>

    <div class="actions">
        <button class="action-btn">Raise</button>
        <button class="action-btn">Check</button>
        <button class="action-btn">Pass</button>
    </div>

    <div class="card-container">
        <h3>Your cards</h3>
        <div class="cards">
            <div class="card">
                <jhi-poker-card [cardName]=card1></jhi-poker-card>
            </div>
            <div class=card>
                <jhi-poker-card [cardName]=card2></jhi-poker-card>
            </div>
        </div>
    </div>
</div>

<button (click)="join()">Join game</button>

<p *ngIf="gameId">gameid</p>
