<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="player">
            <h2><span jhiTranslate="pokerApp.player.detail.title">Player</span> {{ player.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pokerApp.player.nickname">Nickname</span></dt>
                <dd>
                    <span>{{ player.nickname }}</span>
                </dd>
                <dt><span jhiTranslate="pokerApp.player.cash">Cash</span></dt>
                <dd>
                    <span>{{ player.cash }}</span>
                </dd>
                <dt><span jhiTranslate="pokerApp.player.card1">Card 1</span></dt>
                <dd>
                    <span>{{ player.card1 }}</span>
                </dd>
                <dt><span jhiTranslate="pokerApp.player.card2">Card 2</span></dt>
                <dd>
                    <span>{{ player.card2 }}</span>
                </dd>
                <dt><span jhiTranslate="pokerApp.player.user">User</span></dt>
                <dd>
                    {{ player.user?.login }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/player', player.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
